<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>NurseGrid | Resources for Nurses</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="public/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="public/images/nursegrid-nurse-schedule-favicon.ico">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="public/css/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="index.html" class="navbar-brand">
            <img src="public/images/nursegrid-nurse-communication-app-logo.png" alt="nursegrid nurse communication app logo">
          </a>
        </div>

        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                  <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="nurses.html" onclick="ga('send', {'hitType': 'event', 'eventCategory': 'NursesPageLink', 'eventAction': 'ClickNursesPageLink', 'eventLabel': 'ResourcesNavNurses' });">For Nurses</a>
                    </li>                 
                    <li>
                        <a href="http://blog.nursegrid.com" onclick="ga('send', {'hitType': 'event', 'eventCategory': 'BlogLink', 'eventAction': 'ClickBlogLink', 'eventLabel': 'ResourcesNavBlog' });">Blog</a>
                    </li>
                      <li>
                        <a href="contact.html" onclick="ga('send', {'hitType': 'event', 'eventCategory': 'ContactLink', 'eventAction': 'ClickContactLink', 'eventLabel': 'ResourcesNavContact' });">Contact</a>
                    </li>
                    <li>
                        <a href="http://support.nursegrid.com" onclick="ga('send', {'hitType': 'event', 'eventCategory': 'SupportLink', 'eventAction': 'ClickSupportLink', 'eventLabel': 'ResourcesNavSupport' });">Support</a>
                    </li>
                    <li class="sign-btn">
                        <a href="http://app.nursegrid.com/signup.html" onclick="ga('send', {'hitType': 'event', 'eventCategory': 'RegisterLink', 'eventAction': 'ClickRegisterLink', 'eventLabel': 'ResourcesNavRegister' });">Sign up</a>
                    </li>
                    <li class="sign-btn">
                        <a href="http://app.nursegrid.com/login.html" onclick="ga('send', {'hitType': 'event', 'eventCategory': 'LoginLink', 'eventAction': 'ClickLoginLink', 'eventLabel': 'ResourcesNavLogin' });">Sign in</a>
                    </li>
                </ul>
            </div>
        </nav>
      </div>
    </header>

<!--main-->
<div class="container" id="main">
   <div class="row">
    <div class="col-xs-12 text-center"><h1>The Best of Nursing on the Web</h1><hr></div>
   </div>
   <div class="row">
    <div class="col-md-6 col-sm-6">

      <div class="panel panel-default">
           <div class="panel-heading"><h4><b>Top Stories of the Week</b></h4></div>
        <div class="panel-body">
              <p><img class="topstoryimg img-responsive text-center" src='<%= Arow[0].PicLink %>'> <a href="#"><%= Arow[0].DisplayLink %></a><br><%= Arow[0].Description  %></p>
              <div class="clearfix"></div>
              <hr>
              <div class="list-group">
          <% for( var i = 1; i<Arow.length; i++) {%>
        <%if (i <5) {%>
        <p><%= Arow[i].Description  %><a href='<%= Arow[i].Link %>'></br><%= Arow[i].DisplayLink %></a></p>
        <%}%>
        <% } %>
            </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading"><h4><b>Top 5 Blogs of the Month</b></h4></div>
   			<div class="panel-body">
          <div class="list-group">
            <p class="linkcopy"><a href="#"><%= Brows[0].DisplayLink %></a><br><%= Brows[0].Description  %></p>
              <img src='<%= Brows[0].PicLink %>' class="blogimg pull-right img-responsive"> 
            <div class="clearfix"></div>
              <hr>
                <% for( var i = 1; i<Brows.length; i++) {%>
                <%if (i <5) {%>
                <p><a href='<%= Brows[i].Link %>'></br><%= Brows[i].DisplayLink %></a><br><%= Brows[i].Description  %></p>
                <%}%>
                <%}%>
          </div>
        </div>
   	</div>

    <!--<p class="linkcopy"><a href="#"><%= Brows[0].DisplayLink %></a><br><%= Brows[0].Description  %></p>
              <img src='<%= Brows[0].PicLink %>' class="img-circle pull-right"> 
            <div class="clearfix"></div>
              <hr>
                <% for( var i = 1; i<Brows.length; i++) {%>
                <%if (i <5) {%>
                <p><a href='<%= Brows[i].Link %>'></br><%= Brows[i].DisplayLink %></a><br><%= Brows[i].Description  %></p>
                <%}%>
                <%}%>-->
      
        <div class="well"> 
             <form class="form-horizontal" role="form">
              <h4><b>Nurse of the Month</b></h4>
               <p><img src='<%= Prow[0].Link %>' class="nomimg pull-left img-responsive"> <a href="#"><%= Prow[0].DisplayLink %></a><br><%= Prow[0].Description %></p>
                <div class="clearfix"></div>              
            </form>
        </div>
     
        <div class="panel panel-default">
           <div class="panel-heading"><h4><b>Upcoming Events for Nurses</b></h4></div>
   			<div class="panel-body">
              <!--<img src="//placehold.it/150x150" class="img-circle pull-right">--> <a href="#">ER Booze Cruise</a>
              <div class="clearfix"></div>
              Here's to a night od debauchery and hoping no one actually ends up in the ER. #Nursehardplayhard
              <hr>
              <p>Nurse Party - 10/6 - Portland, OR<a href="http://bootply.com/tagged/modal"></br>Click to Read More...</a></p>
              <p>Nurse Rave @ The Hospital - Los Angeles, CA<a href="http://bootply.com/tagged/modal"></br>Click to Read More...</a></p>
            </div>
         </div> 

	</div>
  	<div class="col-md-6 col-sm-6">
      	 
          <div class="well"> 
             <form class="form">
              <a href="https://twitter.com/NurseGrid" class="twitter-follow-button pull-right" data-show-count="false">Follow @NurseGrid</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              <h4><b>Trending on Twitter</b></h4>
              <div class="input-group text-center col-xs-12">
              <p><a class="twitter-timeline" href="https://twitter.com/Shane40089492/favorites" data-widget-id="515715463020412928">Favorite Tweets by @Shane40089492</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p> <br> 
              </div>
            </form>
          </div>

      	 <div class="panel panel-default">
           <div class="panel-heading"><h4><b>Top Educational Resources &amp Forums</b></h4></div>
   			<div class="panel-body">
              <p><img src='<%= Erow[0].PicLink %>' class="eduimg pull-left img-responsive"> <a href="#"><%= Erow[0].DisplayLink %></a><br><%= Erow[0].Description  %></p>
              <div class="clearfix"></div>
              <hr>
              <div class="list-group">
			  	<% for( var i = 1; i<Erow.length; i++) {%>
				<%if (i <5) {%>
				<p><%= Erow[i].Description  %><a href='<%= Erow[i].User.Name %>'></br><%= Erow[i].DisplayLink %></a></p>
				<%}%>
				<% } %>
              </div>
            </div>
         </div>
      
      	 <div class="panel panel-default">
           <div class="panel-heading"><h4><b>Nurse Humor</b></h4></div>
   			<div class="panel-body">
              <p><img src="//placehold.it/150x150" class="humorimg pull-right"> <a href="#">Crazy Shit Going Down Here</a><br>Click to Find Out More</p>
              <div class="clearfix"></div>
            </div>
   		 </div>
      
  	</div>
        <div class="col-md-6 col-sm-6">
        <div class="panel panel-default">
           <div class="panel-heading"><h4><b>Nursing Jobs, Apply Now</b></h4></div>
   			<div class="panel-body">
              <img src="//placehold.it/150x150" class="img-circle pull-right"> <a href="#">Keyword: No Patients</a>
              <div class="clearfix"></div>
              <hr>
              <p>We'll have shit from Monster.com here in a little bit.</p>
            </div>
         </div></div>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading"><h4><b>Deals for Nurses</b></h4></div>
   			<div class="panel-body">
              <p class="col-xs-4"><img src="//placehold.it/150x150" class="dealimg pull-left img-responsive"> <a href="#">Crazy Shit Going Down Here</a><br>Click to Find Out More</p>
              
              <p class="col-xs-4"><img src="//placehold.it/150x150" class="dealimg pull-left img-responsive"> <a href="#">Crazy Shit Going Down Here</a><br>Click to Find Out More</p>
              
              <p class="col-xs-4"><img src="//placehold.it/150x150" class="dealimg pull-left img-responsive"> <a href="#">Crazy Shit Going Down Here</a><br>Click to Find Out More</p>
              <div class="clearfix"></div>
            </div>
   		</div></div>
      
    </div>
  </div><!--/row-->
</div>
  
  <br><br>

  <!-- Footer -->
  
  <footer class="footer">
    <div class="container footer-container">
      <div class="row footer-logo">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <a href="#">
            <img class="img-responsive" src="public/images/nursegrid-nurse-manager-software-logo-white.png" alt="nursegrid nurse manager software logo white">
          </a>
        </div>

        <div class="modal fade" id="privacy-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Privacy Policy</h4>
                  </div>
                
              </div>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-lg-3 copyright-text">
          <h7 class="copyright-text">&copy; 2014 - NurseGrid</h7>
        </div>

        <div class="col-lg-4 footer-page-links">
          <ul>
            <li><a href="http://support.nursegrid.com" onclick="ga('send', {'hitType': 'event', 'eventCategory': 'SupportLink', 'eventAction': 'ClickSupportLink', 'eventLabel': 'HomePgBottomNavSupport' });">Support</a></li>
            <li><a href="aboutus.html" onclick="ga('send', {'hitType': 'event', 'eventCategory': 'AboutLink', 'eventAction': 'ClickAboutLink', 'eventLabel': 'HomePgBottomNavAbout' });">About</a></li>
            <!--<li><a href="media.html" onclick="ga('send', {'hitType': 'event', 'eventCategory': 'MediaLink', 'eventAction': 'ClickMediaLink', 'eventLabel': 'HomePgMainBottomNavMedia' });">Press/Media</a></li>-->
            <li>
                        <a href="http://blog.nursegrid.com" onclick="ga('send', {'hitType': 'event', 'eventCategory': 'BlogLink', 'eventAction': 'ClickBlogLink', 'eventLabel': 'NursesPgNavBlog' });">Blog</a>
                    </li>
            <li><a href="contact.html" onclick="ga('send', {'hitType': 'event', 'eventCategory': 'ContactLink', 'eventAction': 'ClickContactLink', 'eventLabel': 'HomePgBottomNavContact' });">Contact</a></li>
          </ul> 
        </div>

        <div class="col-lg-4">
          <h6>Social Media</h6>
          <div class="social">
            <a class="facebook" href="https://www.facebook.com/HcT2co" onclick="ga('send', {'hitType': 'event', 'eventCategory': 'FacebookLink', 'eventAction': 'ClickFacebookLink', 'eventLabel': 'HomePgBottomNavFB' });"><i class="icon-facebook"></i></a>
            <a class="twitter" href="https://twitter.com/HcT2Co" onclick="ga('send', {'hitType': 'event', 'eventCategory': 'TwitterLink', 'eventAction': 'ClickTwitterLink', 'eventLabel': 'HomePgBottomNavTwit' });"><i class="icon-twitter" href="http://www.iconsdb.com/icons/preview/white/facebook-m.png"></i></a>
            <!--<a class="pinterest" href="#"><i class="icon-pinterest"></i></a>-->
            <a class="linkedin" href="https://www.linkedin.com/company/3319590?trk=tyah&trkInfo=tarId%3A1397425214498%2Ctas%3Anursegrid%2Cidx%3A1-1-1" onclick="ga('send', {'hitType': 'event', 'eventCategory': 'LinkedinLink', 'eventAction': 'ClickLinkedinLink', 'eventLabel': 'HomePgBottomNavLI' });"><i class="icon-linkedin"></i></a>
            <!--<a class="gplus" href="#"><i class="icon-google-plus"></i></a>
            <a class="github" href="#"><i class="icon-github-alt"></i></a>-->
          </div>
        </div>
      </div>
    </div>
  </footer>


	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>
